<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
     <% 
        const eventDate = new Date(reservation.CreatedDateTime);
        // Format the date (e.g., 16/03/2026)
        const formattedDate = eventDate.toLocaleDateString('en-GB'); 
        // Format the time (e.g., 10:33:24 am)
        const formattedTime = eventDate.toLocaleTimeString('en-US', { 
            hour: '2-digit', 
            minute: '2-digit',
            hour12: true 
        });
    %>
    <h1>Reserve a slot for: <%= reservation.EventDetails?.EventName || 'Unknown Event' %> <%= formattedDate + ' ' + formattedTime || 'Unknown Date' %></h1>
    <p>Capacity: <%= reservation.EventDetails?.CurrentCapacity || 'Unknown Capacity' %></p>
    <p>Currently Booked: <%= reservation.Status || 'Unknown Booked' %></p>

    <% if (reservation.EventDetails?.Booked >= reservation.EventDetails?.Capacity) { %>
        <p style="color: red;"><strong>Notice:</strong> This event is full. If you book now, you will be placed on the waitlist.</p>
    <% } %>

    <form id="createReservationForm" action="" method="POST">
  
        <label for="numofppl">Number of people attending:</label>
        <input 
            type="number" 
            id="numofppl" 
            name="numofppl" 
            min="1" 
            step="1"
            inputmode="numeric"
            pattern="[0-9]+"
            max="<%= reservation.EventDetails?.Capacity - reservation.EventDetails?.Booked %>" 
            value="1"
            required
        >
        <button type="submit">Confirm Reservation</button>
    </form>
    
    <br>
    <a href="/reserve/reservation">Back to My Reservations</a>

    <script>
        const createForm = document.getElementById("createReservationForm");
        createForm.addEventListener("submit", (e) => {
            const numofppl = document.getElementById("numofppl").value.trim();
            if (!/^\d+$/.test(numofppl)) {
                e.preventDefault();
                alert("Please enter numbers only.");
            }
        });
    </script>
</body>
</html>