<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Reservations</title>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <%  %>
        <% if (!pendingReservations || pendingReservations.length==0) { %>
        <h2>0 reservations in queue</h2>
        <p>Please wait for reservations for events under your allowed categories.</p>
    <% } else { %>

        <h2><%= pendingReservations.length %> reservation(s) Pending Approval</h2>


        

        <table border="2">
        
            <tr>
                <th>Event </th>
                <th>Reservation User</th>
                <th>Reservation Date & Time</th>
                <th>Pax</th>
                <th>&nbsp;</th>
            </tr>
                <ol>
                <% pendingReservations.forEach(r => { %>

                    
                        <tr>
                            <td><%= r.EventId %></td>
                            <td><%= r.UserId %></td>
                            <td><%= r.newTime %></td>
                            <td><%= r.numofppl %></td>
                            <form action="" method="post"></form>
                            <td>
                                <form action="/configuration/handle" method="post">
                                    <input style="background-color: green;" type="submit" value="Approve">
                                    <input style="background-color: red;"type="submit" value="Reject">
                                </form>
                            </td>
                            
                            
                            
                        
                        
                        </tr>
                    
                <% }) %>

                </ol>
        </table>
    <% } %>
</body>
</html>