<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report History</title>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <h1>Report History</h1>
    <p>Here are all the reports that were submitted by users:</p>
    <% if (reports.length === 0) { %>
        <p>No reports submitted yet.</p>
    <% } else { %>
        <div style="border:1px solid grey; width: fit-content; padding: 4px;">
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Category</th>
                        <th>Report</th>
                        <th>Submitted On</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% reports.forEach(report => { %>
                        <tr>
                            <td style="padding: 4px;"><%= report.UserID %></td>
                            <td style="padding: 4px;"><%= report.Category %></td>
                            <td style="padding: 4px;"><%= report.Report %></td>
                            <td style="padding: 4px;"><%= report.CreatedAt %></td>
                            <td style="padding: 4px;" align="center"><%= report.Status %></td>
                            <td style="padding: 4px;"><a href="/contactus/<%= report.ReportID %>">View</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    <% } %>
</body>
</html>